.title{
  text-align: center;
  font-size: 60px;
}
#display{
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.buttons{
  text-align: center;
}

.btn{
  width: 200px;
  height: 30px;
  margin: 5px;
  outline: none;
}
